html {
  font-size: 18px;
  font-family: Helvetica;
  line-height: 1.4;
}

.container {
  width: 960px;
  margin: 0 auto;
}

/* Header */

header {
  background-image: url('../../resources/glasses-bg.png');
  background-size: cover;
  background-position: center;
  padding-top: 1rem;
}

header .container {
  height: 30rem;
}

#navbar {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  font-family: Helvetica;
  font-size: 1rem;
  font-weight: 600;
  background-color: cadetblue;
  color: white;
  position: relative;
}

#mobile-nav {
  display: none;
}

#company {
  display: flex;
  align-items: center;
}

#company img {
  content: url('../../resources/logo-white.png');
  height: 1.5rem;
  padding-right: 1rem;
}

nav {
  display: flex;
  align-items: center;
}

ul {
  display: flex;
}

ul li {
  padding-right: 2rem;
}

ul li:last-child {
  padding-right: 0;
}

#slogan {
  display: inline-block;
  padding: 1.5rem 5rem;
  background-color: white;
  color: black;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2;
  text-transform: uppercase;
  position: absolute;
  bottom: -15rem;
  right: -2rem;
}

/* Features */

#features {
  display: flex;
  justify-content: center;
  padding: 3rem 0;
}

.feature {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 8rem;
  width: 5rem;
  margin-right: 6rem;
}

.feature:last-child {
  margin-right: 0;
}

.image {
  width: 3.5rem;
}

#paper {
  content: url('../../resources/paper-icon.png')
}

#ruler {
  content: url('../../resources/ruler-icon.png')
}

#truck {
  content: url('../../resources/truck-icon.png')
}

.feature h4 {
  text-align: center;
}

/* Info */

#info {
  display: flex;
  justify-content: center;
  padding-bottom: 5rem;
}

.info {
  width: 35%;
}

.info p {
  padding-left: 0.2rem;
}

.info:first-child {
  margin-right: 5%;
}

.info-heading {
  width: 10rem;
  background-color: cadetblue;
  padding: 0.5rem 0 0.5rem 1.25rem;
  margin-bottom: 1rem;
  font-weight: bold;
  font-size: 1rem;
  text-transform: uppercase;
  color: white;
}

/* Footer */

footer .container {
  display: flex;
  align-items: center;
  background-color: azure;
  padding: 4rem;
}

footer img {
  content: url('../../resources/logo-black.png');
  height: 1.5rem;
  margin-right: 1rem;
}

/* Media queries */

@media only screen and (max-width: 768px) {

  .container {
    width: 100%;
  }

  header {
    padding-top: 0;
  }

  header .container {
    height: 22rem;
  }

  #slogan {
    padding: 0.75rem 4rem;
    font-size: 1.33rem;
    bottom: -7.83rem;
    right: 2rem;
  }

  footer .container {
    padding-right: 0;
  }

}

@media only screen and (max-width: 480px) {

  #mobile-nav {
    display: flex;
  }

  #desktop-tablet-nav, #company h4 {
    display: none;
  }

  header {
    background-position: 20%;
  }

  header .container {
    height: 17rem;
  }

  #slogan {
    width: 100%;
    bottom: -12rem;
    right: 0;
    padding: 1rem 0;
    text-align: center;
    font-size: 1rem;
  }

  #features {
    flex-direction: column;
    align-items: center;
    padding: 3.77rem 0;
  }

  .feature {
    margin-right: 0;
    margin-bottom: 1.54rem;
    justify-content: center;
  }

  .feature:last-child {
    margin-bottom: 0;
  }

  .feature h4 {
    font-size: 0.77rem;
    margin-top: 1rem;
  }

  #info {
    flex-direction: column;
  }

  .info {
    width: 100%;
  }

  .info-heading {
    width: 100%;
    text-align: center;
    padding-left: 0;
  }

  .info:first-child {
    margin-right: 0;
    margin-bottom: 4rem;
  }

  footer .container {
    justify-content: center;
    padding: 4rem 0;
  }

  footer h4 {
    display: none;
  }

}
